################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FitfokusServer/EventLog.txt
/.vs
/FitfokusServer.vs
/.vs/FitfokusServer/FileContentIndex/1192efa5-e69a-46bb-8a44-83a9167346d4.vsidx
/.vs/FitfokusServer/FileContentIndex/26d448f8-a32d-4400-8c6f-76d670762bbe.vsidx
/.vs/FitfokusServer/FileContentIndex/373cf2b6-97e3-417e-9311-4d8e43761304.vsidx
/.vs/FitfokusServer/FileContentIndex/3b9d364a-e773-4cdb-92e8-642224058dc5.vsidx
/.vs/FitfokusServer/FileContentIndex/6bba0e1e-7377-462e-ab51-1f34e0538408.vsidx
/.vs/FitfokusServer/FileContentIndex/8e8edbeb-9923-43b7-99f6-29b4408364b2.vsidx
/.vs/FitfokusServer/FileContentIndex/9e6ca489-098c-48b1-b863-b8034bddaebc.vsidx
/.vs/FitfokusServer/FileContentIndex/ab2b180f-95be-4f25-814f-680e7254877a.vsidx
/.vs/ProjectEvaluation/fitfokusserver.metadata.v7.bin
/.vs/ProjectEvaluation/fitfokusserver.projects.v7.bin
/.vs/FitfokusServer/v17/.futdcache.v2
/.vs/FitfokusServer/v17/.suo
/.vs/FitfokusServer/v17/DocumentLayout.json
/.vs/FitfokusServer/DesignTimeBuild/.dtbcache.v2
FitfokusServer/bin
.vs
FitfokusServer/obj
